black
coverage[toml]
Django>=4.2,<5.0
django-cors-headers
django-environ
django-extensions
django-stubs
djangorestframework
flake8
gunicorn
ipython
mypy
pip-audit
psycopg[binary]
pytz
pywatchman
selenium
tzdata
uvicorn[standard]