black
coverage[toml]
Django>=4.1,<4.2
django-cors-headers
django-environ
django-extensions
django-stubs
djangorestframework
flake8
gunicorn
ipython
mypy
# We install psycopg2 rather than psycopg2-binary to work around a libpq issue
# when running Docker on M1 Macs, see https://stackoverflow.com/q/62807717
psycopg2
pytz
pywatchman
safety
selenium
tzdata
uvicorn[standard]