{% raw %}
# See this wiki page for more info:
# https://github.com/dylanaraps/neofetch/wiki/Customizing-Info

SHOW_PRODUCTION_WARNING_MESSAGE={{ base_show_production_login_warning | bool | lower }}

print_warnings() {
    if $SHOW_PRODUCTION_WARNING_MESSAGE ; then
        prin
        prin "\e[1;41mTHIS IS A PRODUCTION HOST\e[0m"
    fi
}

print_info() {
    info title
    info underline
    info "OS" distro
    info "Host" model
    info "Kernel" kernel
    info "Uptime" uptime
    info "Packages" packages
    info "Shell" shell
    info "Terminal" term
    info "CPU" cpu
    info "Memory" memory
    print_warnings
}

ascii_distro="ubuntu_small"

{% endraw %}