---

- import_role:
    name: tmiller02.neofetch

- name: ensure neofetch config directory exists
  file:
    path: "/etc/neofetch/"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "u=rwx,g=rx,o=rx"

- name: add the custom neofetch config
  template:
    src: neofetch_config.conf.j2
    dest: /etc/neofetch/neofetch_custom_config.conf
    owner: "root"
    group: "root"
    mode: "u=rw,g=r,o=r"

- name: add the login
  template:
    src: neofetch.sh.j2
    dest: /etc/profile.d/neofetch.sh
    owner: root
    group: root
