---
{% raw %}
- name: get the current git tag
  command: "git describe HEAD --tags"
  register:
    deploy_check_get_tags_command
  failed_when: false

- name: handle git tag not found
  block:
    - name: diplay prompt when a git tag could not be found
      pause:
        prompt: |
          WARNING: Could not find a git tag.

          Press Crtl+C then A to abort, or press Enter to continue anyway.
      when: deploy_check_display_confirmation_prompts | bool

    - set_fact:
        deploy_check_tag: "no-tag"
  when: "deploy_check_get_tags_command.rc != 0"

- name: handle git tag found
  block:
    - name: display prompt when git tag is found
      pause:
        prompt: |
          INFO: Found git tag "{{ deploy_check_get_tags_command.stdout }}"

          Press Crtl+C then A to abort, or press Enter to continue.
      when: deploy_check_display_confirmation_prompts | bool

    - set_fact:
        deploy_check_tag: "{{ deploy_check_get_tags_command.stdout }}"
  when: "deploy_check_get_tags_command.rc == 0"
{% endraw %}
