---
{% raw %}
- hosts: all
  gather_facts: false
  become: true
  tasks:
    - name: set ansible facts
      set_fact:
        ansible_python_interpreter: "/usr/bin/python3"
        any_errors_fatal: true
    - name: install python 3.6 and pip
      raw: dnf install -y python36 python3-pip
      changed_when: true
    - name: check connectivity to all hosts
      ping:

- hosts: localhost
  roles:
    - { role: deploy_check, tags: [always] }
    - { role: geerlingguy.nodejs, become: true }
    - { role: tmiller02.yarn, become: true }
  tasks:
    - name: build frontend app
      import_role:
        name: frontend_app
        tasks_from: build.yml
      tags: [update_frontend_app]
  vars_files:
    - vars/frontend.yml

- hosts: all
  become: true
  vars_files:
    - vars/shared.yml
  pre_tasks:
    - set_fact:
        firewalld_rules: "{{ firewalld_base_rules + firewalld_additional_rules }}"
  roles:
    - base
    - firewalld
  tasks:
    - name: "Set release version facts"
      set_fact:
        release_date: "{{ lookup('pipe','date \"+%Y-%m-%d-%H-%M-%S-%Z\"') }}"
      delegate_to: localhost
      run_once: true
      tags: [always]
    - name: "Set release version facts"
      set_fact:
        backend_app_release_version: "{{ hostvars['localhost']['deploy_check_tag'] }}-{{ release_date }}"
        frontend_app_release_version: "{{ hostvars['localhost']['deploy_check_tag'] }}-{{ release_date }}"
      tags: [always]

- hosts: database
  become: true
  roles:
    - postgresql
  vars_files:
    - vars/shared.yml
    - vars/postgresql.yml

- hosts: backend
  become: true
  roles:
    - ssl
    - nginx
    - { role: backend_app, tags: [update_backend_app] }
  vars_files:
    - vars/shared.yml
    - vars/backend.yml

- hosts: frontend
  become: true
  roles:
    - ssl
    - nginx
    - { role: frontend_app, tags: [update_frontend_app] }
  vars_files:
    - vars/shared.yml
    - vars/frontend.yml
{% endraw %}
