{% raw %}
{{ ansible_managed | comment }}
DEBUG={{ backend_app_debug | bool }}
DATABASE_NAME={{ backend_app_database_name }}
DATABASE_USER={{ backend_app_database_user }}
DATABASE_PASSWORD={{ backend_app_database_password }}
DATABASE_HOST={{ backend_app_database_host }}
SECRET_KEY={{ backend_app_secret_key }}
{% endraw %}
