{% raw -%}
{{ ansible_managed | comment }}
DEBUG={{ backend_app_debug | bool }}
DATABASE_NAME={{ backend_app_database_name }}
DATABASE_USER={{ backend_app_database_user }}
DATABASE_PASSWORD={{ backend_app_database_password }}
DATABASE_HOST={{ backend_app_database_host }}
SECRET_KEY={{ backend_app_secret_key }}
ALLOWED_HOSTS={{ backend_app_allowed_hosts | join(',') }}
GUNICORN_PID_FILE={{ backend_app_gunicorn_pid_file }}
GUNICORN_BIND={{ backend_app_gunicorn_bind }}
{% endraw -%}
