{% raw %}
[Unit]
Conflicts=umount.target

[Mount]
What={{ backend_app_vagrant_venv_bind_mount }}
Where={{ backend_app_deploy_helper.new_release_path }}/venv
Type=none
Options=bind

[Install]
WantedBy={{ backend_app_vagrant_systemd_mount_name }}
{% endraw %}