{% raw %}{{ ansible_managed | comment }}{% endraw %}
[Unit]
Description = {{ cookiecutter.project_name }}
{% raw %}
After = network.target
{% if backend_app_vagrant_mount %}
RequiresMountsFor={{ backend_app_deploy_helper.current_path }}
{% endif %}

[Service]
RuntimeDirectory = {{ backend_app_systemd_runtime_dir }}
PIDFile = {{ backend_app_gunicorn_pid_file }}
User = {{ backend_app_user }}
Group = {{ backend_app_group }}
WorkingDirectory = {{ backend_app_deploy_helper.current_path }}
ExecStart = {{ backend_app_virtualenv_dir }}/bin/gunicorn \
            --config gunicorn_config.py \
            {{ backend_app_wsgi }}
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy={% if backend_app_vagrant_mount %}{{ backend_app_vagrant_systemd_mount_name }}{% else %}multi-user.target{% endif %}
{% endraw %}