.DS_Store
__pycache__/
*.py[cod]
/.idea/*
!/.idea/runConfigurations/
!/.idea/modules.xml
!/.idea/vagrant.xml
!/.idea/{{ cookiecutter.project_slug }}.iml
/.vagrant/
/provisioning/galaxy_roles/
/backend_app/settings.env
/backend_app/venv/
/backend_app/static_root/
/backend_app/coverage_html_report/
/backend_app/geckodriver.log
/frontend_app/node_modules/
/frontend_app/build/
